import { {{pascal name}}List } from './_components/{{kebab name}}-list'

export default function {{pascal name}}Page() {
  return (
    <main>
      <h1>{{pascal name}}</h1>
      <{{pascal name}}List />
    </main>
  )
}
